@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

canvas {
	background-color: white;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: center;
	border-bottom: 1px solid #e1e1e1;
	background-color: #fAfAfA;
	margin-bottom: 8px;
}

.game-container {
	display: inline-block;
	padding: 8px;
	border-radius: 4px;
	background-color: green;
}

.sidebar {
	float: left;
	margin-right: 8px;
}

.controls {
	width: 120px;
	background-color: white;
}

.stats {
	margin-top: 8px;
	width: 120px;
	background-color: white;
}
